<div class="container">
    {{# each history}}
	<div class="page-header text-center jumbotron">
		<h2>{{{name}}}</h2>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 history">
                <p class="text-justify"{{{content}}}></p>
            </div>
        </div>
    </div>
    
    {{/each}}
</div>