{{!< default}}
<div class="container-fluid">
	<div class="row">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
		<img src="/images/slide1.jpg" alt="...">
		
		</div>
		
		<div class="item">
			<img src="/images/slide2.jpg" alt="...">
		</div>

	</div>
	
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background: none !important">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background: none !important">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
	</div> <!-- Carousel -->
	</div>
</div>
<section id="second">
	<div class="container-fluid" >
		<div class="page-header">
			<h1 class="text-center">Спеціальності підготовки</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4 text-center degree degre1">
					<a href="#" type="button" data-toggle="modal" data-target="#myModalB">
						<span class="glyphicon glyphicon-book" ></span>
						<br>
						<h4>Бакалавр з філології</h4>
						<p>035.020303 "філологія" <br>
						прикладна лінгвістика</p>
					</a>
					
					<!-- Modal -->
					<div class="modal fade" id="myModalB" tabindex="-1" role="dialog" aria-labelledby="myModalB">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalB">Спеціальность підготовки</h4>
							</div>
							<div class="modal-body">
								<h1>БАКАЛАВР З ФІЛОЛОГІЇ<br>(ПРИКЛАДНОЇ ЛІНГВІСТИКИ)</h1>
								<p>ТРИВАЛІСТЬ НАВЧАННЯ: 4 роки</p>
								<p>МЕТА ОСВІТНЬО-ПРОФЕСІЙНОЇ ПРОГРАМИ: <br>
								забезпечення студентами здобуття теоретичних знань та практичних умінь 
								і навичок із лінгвістики та комп'ютерних наук, зокрема таких, 
								які необхідні для опису і можелювання лінгвістичних ресурсів природгої мови, 
								здійснення різних видів перекладу; створення лексикографічних баз даних та словників, корпусів текстів; 
								програмних засобів для опрацювання лінгвальної інформації.</p>	
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">закрити</button>
							</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-md-4 text-center degree degre2" >
					<a href="#" type="button" data-toggle="modal" data-target="#myModalM">
						<span class="glyphicon glyphicon-briefcase"></span>
						<br>
						<h4>Магістр з прикладної лінгвістики</h4>
						<p>035.02030303 "філологія" <br>
						прикладна лінгвістика</p>
					</a>

					<!-- Modal -->
					<div class="modal fade" id="myModalM" tabindex="-1" role="dialog" aria-labelledby="myModalM">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalM">Modal title</h4>
							</div>
							<div class="modal-body">
								<h1>МАГІСТР З ПРИКЛАДНОЇ ЛІНГВІСТИКИ</h1>
								<p>ТРИВАЛІСТЬ НАВЧАННЯ: 1,5 роки</p>
								<p>МЕТА ОСВІТНЬО-ПРОФЕСІЙНОЇ ПРОГРАМИ: <br>
								забезпечитити підготовку високваліфікованих фіхівців у галузі прикладної лігшвістики для 
								успішного виконання професійних завдань в умовах сучасного ринку праці, зокрема
								створення алгоритмів для кодування, розпізнавання, інтерпретації, генерування/породження, опрацювання 
								мови і мовлення, переклад, забезпечення міжкультурної комунікації, формування і створення 
								лінгвістичного забезпечення різних систем опрацювання природномовної інформації та розроблення систем 
								автоматизації інформаційних робіт.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-md-4 text-center degree degre3" >
					<a href="" type="button" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-education"  ></span>	
						<br>
						<h4>Магістр-дослідник</h4>
						<p></p>
					</a>
									
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Modal title</h4>
							</div>
							<div class="modal-body">
								...
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
</section>


<section id="third">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
					<h2>Контактна інформація</h2>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-6 text-center">
				<span></span><p>вул. Митрополита Андрея 5</p><br>
				<span></span><p>IV навчальний корпус, 131 ауд.</p>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<span></span><p>+38 032 258 21 38</p><br>
				<span></span><p>+38 032 258 23 28 </p>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<span></span><p><a href="mailto:#">apling.ikni@gmail.com</a></p><br>
				<span></span><p>facebook</p>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="row">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5146.758575176169!2d24.012221015382472!3d49.83533043937611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7a31f0dccd%3A0x9869cc7025bc8e3f!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIgItCb0YzQstGW0LLRgdGM0LrQsCDQv9C-0LvRltGC0LXRhdC90ZbQutCwIg!5e0!3m2!1suk!2sua!4v1494415339595" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>