<div class="container">
	<div class="page-header text-center jumbotron">
		<h2>Професорсько-викладацький склад</h2>
	</div>
</div>
<div class="container">
	<div class="row">

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
				<img src="http://placehold.it/300x400" alt="...">
				<div class="caption">
					<a href=""><h3>Антонюк Галина Дмитрівна</h3></a>
					<p>к. філос.н., доц.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Бордюк Людмила Володимирівна</h3></a>
				<p>к.філол.н., доц.</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Брига Тетяна Романівна</h3></a>
				<p>асистент</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Винничук Світлана Ярославівнa</h3></a>
				<p>асистент</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Гайдук Марта Степанівна</h3></a>
				<p>асистент</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Голтвян Валентина Іванівнa</h3></a>
				<p>ст. викл.</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Голуб Іванна Юріївна</h3></a>
				<p>к.пед.н., доц.</p>
			</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<img src="http://placehold.it/300x400" alt="...">
			<div class="caption">
				<a href=""><h3>Денисюк Мар’яна Ярославівна</h3></a>
				<p>асистент</p>
			</div>
			</div>
		</div>		
		
	</div>
</div>