<div class="container">
    {{# each teaching}}
    <div class="row">
        <div class="page-header text-center jumbotron">
            <h2>{{{title}}}</h2>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{{bachelor}}}
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{{master}}}
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{{prof}}}
        </div>
    </div>
    {{/ each}}
</div>