#header {
	margin-top: 0;
}

#footer {
	height: 100px;
	background-color: #e7e7e7;
	text-align: center;
	padding: 15px 15px;

	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
